<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Chainview</title>

	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		  crossorigin="anonymous">
	
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<!-- Brand -->
	<a class="navbar-brand" href="#">Chain View</a>

	<!-- Toggler/collapsibe Button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Navbar links -->
	<!--<div class="collapse navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/events}">Event Management</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/user-registration}">User Management</a>
			</li>
		</ul>
	</div>

	<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/home}">Home</a>
			</li>
		</ul>
	</div>
	-->
</nav>
	
	<br>
	<br>
	<div class = "container">
		<div class = "row">
			<div class = "col-md-6 col-md-offset-3">
				
				<h1> User Login Page </h1>
				<form th:action="@{/user-login}" method="post" th:object="${userObj}">

					<!-- error message -->
					<div th:if="${abortLogin}">
						<div class="alert alert-danger">Invalid username or	password.</div>
					</div>
				
					<!-- logout message -->
					<!--<div th:if="${param.logout}">
						<div class="alert alert-info">You have been logged out.</div>
					</div>-->
					
					<div class = "form-group">
						<label for ="email"> Email </label> :
						<input type="text" class = "form-control" id ="email" name = "email"
						placeholder="Enter Email ID" autofocus="autofocus">
					</div>
					
					<div class="form-group">
						<label for="password">Password</label>: <input type="password"
							id="password" name="password" class="form-control"
							placeholder="Enter Password" />
					</div>
					
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" name="login-submit" id="login-submit"
									class="form-control btn btn-primary" value="Log In" />
							</div>
						</div>
					</div>
				</form>
				<div class="form-group">
						<span>New user? <a href="/" th:href="@{/user-registration}">Register here</a></span>
						<span>v1.230831.1340</a></span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>